# Віртуальне середовище
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Файли середовищ
*.env

# IDE / Editor
Lab01/.idea/
.vscode/

# Mac / Windows системні файли
.DS_Store
Thumbs.db
